In [ ]:
# Introdução a programação em Python
# Exemplo: o i/o mais simples
# funções input()/print()

# input do teclado
user = input("Insert login:")
print("hello,", user)

Insert login:victor
hello, victor

**O resultado da função input() é uma string!**

In [ ]:
# insira um número
number = input("insira um número:")
type(number)

insira um número:56

str

In [ ]:
# em script, peça para imprimir explicitamente
print(type(number))

<class 'str'>

**Tipagem dinâmica e forte**

1. **Dinâmica:** Tipo do dado muda dinamicamente ao longo do código
2. **Forte:** O dado não pode ser utilizado como se fosse um tipo diferente

In [ ]:
# Erro! number não é int ou float (numérico)
next = number + 1
next

TypeError: ignored

Por ser uma string, podemos fazer:

In [ ]:
# concatena strings. Não dará o resultado numérico 
next = number + '1'
next

'561'

Para obter o próximo número, devemos transformar o resultado da função input() em número

In [ ]:
# Transformar em número int
next = int(number) + 1
next

57

In [ ]:
# Transformar em número
next = float(number) + 1
next

57.0

In [ ]:
a = 56
b = str(a)
type(b)

str